#This is the css that will apply to the site

div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: white;
}

body{
    background-color: white; 
}
header{
    background-color:black;
}
nav a:hover{
    background-color:#1AF0E9;
    color: yellow;
}
.book, .join{
    background-color: black;
    color: white;
}
.book:hover, .join:hover{
    background-color: #1af08c;
    color: white;
}

.msg{
    background-color:white;
}
footer{
    background-color: rgb(53, 40, 40);
    color: white;
}

.home-title{
    color: white;
}
h4{
    color: black;
}
    
msg h2{
color:black;
}
.msg p{
    color:black;
}

footer a{
    color:aquamarine;
}
footer a:hover{
    color:cornflowerblue;
}