#This is the css that will apply to the site

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:wght@400;900&family=Source+Sans+Pro&display=swap');
#content {
    margin: 0 auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: white;
}

body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
}
nav a:hover{
    background-color:#396fe4;
    color: rgb(243, 243, 236);
}
.book, .join{
    background-color: rgb(0, 8, 14);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
}
.book:hover, .join:hover{
    background-color: gold;
    color: black;
}

.msg{
    background-color:white;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: rgb(53, 40, 40);
    color: white;
    padding: 25px 50px;
}

footer p {
    font-size: 1.2em;
}  

.home-title{
    color: rgb(26, 173, 6);
    font-family: "Roboto:wght@400;900", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
    
msg h2{
color:black;
font-family: "Roboto:wght@400;900", sans-serif;
}
.msg p{
    color:black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color:rgb(31, 228, 5);
    text-decoration: none;
    margin-top: 200px;
}
footer a:hover{
    color:cornflowerblue;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%
}

footer p a:hover {
    text-decoration: underline;
}    
 
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    
}

footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img{
    border :10px solid black;
}

main section img {
    box-sizing: border-box;
}